###### syntax

if condition:
    #statement 1
    #statement 2
    #statement 3
    ...

In [2]:
a = 10
b = 20
if a > b:
    print("a is greater value")

In [2]:
a = int(input("ENter a value:: "))
b = int(input("ENter b value:: "))

if b < a:
    
    print("a is greater value")
    
else:
    
    print("b is greater value")

ENter a value:: 20
ENter b value:: 5
a is greater value

In [ ]:
#find the given user input whether it is even or odd number

In [5]:
number = int(input("Enter a value:: "))

if (number % 2) == 0:
    print("It is even number")
else:
    print("It is Odd number")

Enter a value:: 100
It is even number

In [6]:
number = int(input("Enter a value:: "))

if (number % 2) == 1:
    print("It is odd number")
else:
    print("It is even number")

Enter a value:: 100
It is even number

In [8]:
number = int(input("Enter a value:: "))

if (number % 2)!= 0:
    print("It is odd number")
else:
    print("It is even number")

Enter a value:: 100
It is even number

In [9]:
number = int(input("Enter a value:: "))

if (number % 2)!= 1:
    print("It is even number")
else:
    print("It is odd number")

Enter a value:: 100
It is even number

In [ ]:
# Ask user to enter website name..and find whether it is valid or not valid website

In [13]:
web = input("ENter website name::  ").lower()
 
if web.startswith(('www.','https:'))  and  web.endswith('.com'):
    print("It is valid website")
else:
    print("It is invalid website")

ENter website name::  WWW.FB.COM
It is valid website

In [ ]:
#check whether given string is  palindrome  or not

In [ ]:
malayalam
radar
mom
dad
nun
ramukumar
racecar

In [21]:
user = input("Enter a name:: ").upper()
reverse = user[::-1]

if (user  == reverse):
    print("It is Palindrome")
else:
    print("It is not palindrome")

Enter a name:: 121
It is Palindrome

In [24]:
num1 = int(input("ENter first value::  "))
num2 = int(input("ENter second value::  "))

if num1 >  num2 :
    print("num1 is greater")
    
elif num1 < num2:
    print("num2 is greater")
    
else:
    print("Both are equal")

ENter first value::  12
ENter second value::  10
num1 is greater

#### Grade Calculator

In [ ]:
90 - 100 ---> 'A+'
75 - 90 ---> 'A '
65 - 75 ---> 'B'
50- 65 ---->'C'
35 - 49 --> 'D'
< 35  ---> 'Fail'

In [36]:
marks = int(input("ENter your marks:: "))

if (marks >= 90) and (marks <= 100):
    print('A+ grade')
    
elif (marks >=75) and (marks < 90):
    print('A grade')

elif (marks >= 65) and (marks< 75):
    print("B grade")
    
elif (marks>=50) and (marks< 65):
    print('C grade')
    
elif (marks >= 35) and (marks< 50):
    print('D grade')
    
elif (marks >100)   or  (marks<0):
    print("Enter valid marks")
    
else:
    print("Fail")

ENter your marks:: 0
Fail

In [3]:
web = input("ENter website name::  ").lower()
 
if web.startswith(('www.','https:'))  and  web.endswith(('.com','.net','.in')):
    print("It is valid website")
else:
    print("It is invalid website")

ENter website name::  www.insta.co.in
It is valid website

### Nested if statements

In [6]:
web = input("ENter website name::  ").lower()

if web.startswith(('www.','https:')):
    if web.endswith(('.com','.net','.in')):
        print("It is valid website")
    else:
        print("Invalid Website")

else:
    print("It is invalid")

ENter website name::  ww.sqwhshq
It is invalid

On the ocassion of women's day KFC is giving 20% discount on every purchase..ask user to enter the details if the user is women then offer 20% .if age is less than 10 offer chocolate also

In [10]:
name = input("Enter your name :: ")
gender = input("Select your gender :: ").lower()
age = int(input("Enter your age:: "))

if gender == 'female':
    
    if age < 10:
        print("Take chocolate also")
    else:
        print("Congratulations..you got 20% discount")
        
else:
    print("Pay the total amount without discount")

Enter your name :: asha
Select your gender :: female
Enter your age:: 9
Take chocolate also

### Ternary Operator

In [13]:
num = int(input("Enter the number:: "))

if num%2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number:: 10
Even

 c =  first_value     if  condition  else  second_value

In [16]:
num = int(input("Enter the number:: "))

'even'   if (num%2 == 0) else 'odd'

Enter the number:: 13

'odd'

students = ["Rajesh","Ramesh","Suresh","Prakash","Asha","Neha","Lavanya"]

using ternary operator find the whether Asha is there in the students list or not.
print availabe if she is there otherwise not available

In [17]:
#normal method
students = ["Rajesh","Ramesh","Suresh","Prakash","Asha","Neha","Lavanya"]

if 'Asha' in students:
    print("She is available")
else:
    print("She is not available")

She is available

In [19]:
#ternary operator
  
    
'She is available' if 'Asha' in students else 'she is not avaialable'

'She is available'

In [20]:
num = int(input("Enter the number:: "))

'even'   if (num%2 == 0) else 'odd'

Enter the number:: 3

'odd'

[second_value ,first_value]  [condition]

In [23]:
num = int(input("Enter the number:: "))

['Odd'  , 'Even'] [num%2 == 0]

Enter the number:: 24

'Even'

### Tax Calculator

Income Tax Slab

Income Tax Rates Applicable for FY 2023-24 as per the new regime for HUF and all Individuals

₹ 3,00,000 -No Tax
₹ 3,00,001 to ₹ 6,00,000 - 5%
₹ 6,00,001 to ₹ 9,00,000 - 10%
₹ 9,00,001 to ₹ 12,00,000 - 15%
₹ 12,00,001 to ₹ 15,00,000  - 20%
₹ 15,00,000 - 30%

In [4]:
salary = int(input("Enter the annual salary:: "))

if salary > 0:
    if salary < 300000:
        print("No Tax")

    elif (salary >= 300000) and (salary < 600000):
        tax = salary * 0.05
        print(f"You need pay {tax} rupees")

    elif (salary >= 600000) and (salary < 900000):
        tax = salary * 0.1
        print(f"You need pay {tax} rupees")

    elif (salary >= 900000) and (salary < 1200000):
        tax = salary * 0.15
        print(f"You need pay {tax} rupees")

    elif (salary >= 1200000) and (salary < 1500000):
        tax = salary * 0.2
        print(f"You need pay {tax} rupees")
    else:
        tax = salary * 0.3
        print(f"You need pay {tax} rupees")
else:
    print("Enter valid salary")

Enter the annual salary:: -443536
Enter valid salary

### Ticket Vending Machine

In [ ]:
Ramoji film city...

ask user how many adults,children,senior_citizen

Adult = 1600
children = 1000
senior_citizen = 800

if all price > 5000..provide 5% discount

In [9]:
print('*'*50)
print("**Welcome to Ramoji film city**")

#asking user

adult = int(input("Enter the number of adults :: "))
children = int(input("Enter the number of children :: "))
senior_citizen = int(input("Enter the number of senior citizen:: "))

#calculating the price

price = adult * 1600 + children * 1000 + senior_citizen * 800

if price > 5000:
    print("You are eligible for discount")
    price = price - price * 0.05
    
print('The total amount is ',price)


print("**Thank you visit Again**")
print('*'*50)

**************************************************
**Welcome to Ramoji film city**
Enter the number of adults :: 1
Enter the number of children :: 1
Enter the number of senior citizen:: 1
The total amount is  3400
**Thank you visit Again**
**************************************************