In [2]:
import time

In [8]:
name = 'Hello World'

for i in name:
    time.sleep(1)
    print(i,end = ' ')

H e l l o   W o r l d

### range data type

In [11]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
set(range(0,11,2))

{0, 2, 4, 6, 8, 10}

In [16]:
list(range(0,31,3))   #the values 0 to 30 which are mutiple of 3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [21]:
val = list(range(1,16))

for i in val:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [25]:
for i in range(1,16):
    print(i+10)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [26]:
names = ['Hello','Hi','Bye','Innomatics','world']

for i in names:
    print(len(i))

5
2
3
10
5

In [27]:
for i in range(1,10):
    
    if i > 5:
        print('greater than 5')
    else:
        print('not greater than 5')

not greater than 5
not greater than 5
not greater than 5
not greater than 5
not greater than 5
greater than 5
greater than 5
greater than 5
greater than 5

1. Print all the even numbers from 50 to 100

In [29]:
for i in range(50,101):
    if i%2 == 0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [31]:
for i in range(50,101,2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

1.Print the values from -20 to 0

In [33]:
for i in range(-20,-9,1):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [34]:
#genearate the values from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

separate the even values and odd values from 10 to 30

In [38]:
even = []
odd = []

for i in range(10,31):
    
    if i%2 == 0:
        
        even.append(i)  
        
    else:
        
        odd.append(i)

print(even)
print(odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Artificial intelligence is the intelligence of machines or software, as opposed to the intelligence of humans or animals. It is also the field of study in computer science that develops and studies intelligent machines

In [ ]:
The count of vowels -- a,e,i,o,u
the count consonents--

In [39]:
name = 'Artificial intelligence is the intelligence of machines or software, as opposed to the intelligence of humans or animals. It is also the field of study in computer science that develops and studies intelligent machines'

In [40]:
type(name)

str

In [41]:
name

'Artificial intelligence is the intelligence of machines or software, as opposed to the intelligence of humans or animals. It is also the field of study in computer science that develops and studies intelligent machines'

In [48]:
name = 'Artificial intelligence is the intelligence of machines or software, as opposed to the intelligence of humans or animals. It is also the field of study in computer science that develops and studies intelligent machines'


vowel = ['a','e','i','o','u','A','E','I','O','U']
vowel_count = 0
cons_count = 0
space_count = 0
for i in name:
    if i in vowel:
        vowel_count = vowel_count+1
        
    elif i == ' ':
        space_count = space_count + 1
    else:
        cons_count = cons_count+1
    
print('The number of vowels are',vowel_count)
print('The number of consonants are',cons_count)
print('The number of spaces are',space_count)

The number of vowels are 74
The number of consonants are 111
The number of spaces are 33

### Nested for loop

### Multiplication Table

In [5]:

for i in range(1,21):
    
    for j in range(1,11):
        
        print(f'{i} * {j} =',i*j )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

### list comprehension

In [ ]:
first_value if condition else second_value

In [ ]:
#find the square the number from 1 to  10 and store them in a list using for loop

In [7]:
square = []
for i in range(1,11):
    square.append(i * i)

square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[1,4,9,16,25,36,49,64,81,100]

[expression  for variable in iterable]

In [8]:
[ i*i   for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# find all the even numbers from  40 to 60 using normal method and list comprehe...

In [14]:
#normal method
even = []
for i in range(40,61):
    if i%2 == 0:
        even.append(i)
even

[40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [17]:
#list comprehension
[ i for i in range(40,61) if (i%2 == 0)]

[40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [ ]:
i/p : [1,4,9,16,25,36,49,64]
    
o/p:  [1,2,3,4,5,6,7,8] use both methods?

In [22]:
val = [1,4,9,16,25,36,49,64]
output = []
for i in val:
    output.append(int(i**0.5))
output

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
[int(i ** 0.5)  for i in val]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
('rk@gmail.com','ravi@gmail','rajesh@gmail.com','ramesh@.com',9494321654,78934212,12345,8745123654)

separate the valid mail Ids into variable 'mails' and phone numbers into 'mobiles'

In [24]:
val = ('rk@gmail.com','ravi@gmail','rajesh@gmail.com','ramesh@.com',9494321654,78934212,12345,8745123654)
mails = []
mobiles = []
for i in val:
    if type(i) == str:
        if i.endswith('@gmail.com'):
            mails.append(i)
    else:
        if len(str(i)) == 10:
            mobiles.append(i)

In [25]:
mails

['rk@gmail.com', 'rajesh@gmail.com']

In [26]:
mobiles

[9494321654, 8745123654]

In [ ]:
salary = {'hyd':[45,76],
          'Chennai':[40,66],
           'bengalore':[50,80],
           'mumbai': [20,34] 
          }

This is data represents minimum and maximum salaries for a data scientist 
in different cities in india.

1. find the average salary in hyderabad?
2. What is the maximum salary in mumbai?
3. What is the average salary for a data scientist in India?
4, How many cities are represented in the given data?

In [27]:
salary = {'hyd':[45,76],
          'Chennai':[40,66],
           'bengalore':[50,80],
           'mumbai': [20,34] 
          }

In [30]:
sum(salary['hyd']) / len(salary['hyd'])

60.5

In [31]:
max(salary['mumbai'])

34

In [38]:
ind = []
for i in salary.values():
    ind.extend(i)

In [40]:
sum(ind) / len(ind)

51.375

In [42]:
salary.keys()

dict_keys(['hyd', 'Chennai', 'bengalore', 'mumbai'])

### factorial

In [45]:
num = int(input("ENter the number to find factorial :: "))

fact = 1

for i in range(1,num+1):
    fact = fact * i

print(fact)

ENter the number to find factorial :: 7
5040

In the class there are students rajesh,ramesh,suresh,prakash,mahesh,Nagesh
who got marks (76,86,90),(99,23,45),(27,87,65),(12,42,22),(14,76,88),(92,48,89) 
respectively in maths ,physics and chemistry.

Write the python code to find

1. What is the average marks of total class?
2. What is the highest marks suresh got ?
3. what is the lowest marks of rajesh?
4. Total marks of mahesh ?

In [46]:
student = {'rajesh': (76,86,90),
           'ramesh' : (99,23,45),
           'suresh':(27,87,65),
           'prakash': (12,42,22),
           'mahesh' : (14,76,88),
           'Nagesh' : (92,48,89)
          
          }

In [47]:
avg = []
for i in student.values():
    avg.extend(i)

In [52]:
class_average = sum(avg) / len(avg)
class_average

60.05555555555556

In [54]:
max(student['suresh'])

87

In [55]:
min(student['rajesh'])

76

In [57]:
sum(student['mahesh'])

178