In [1]:
name = 'Hello'

In [ ]:
name.count()

#### create an empty function

In [3]:
#creating/defining the function
def datascience():
    '''  this is about data science course'''
    print("Currently i am learning python")

In [4]:
#calling the function

datascience()

Currently i am learning python

In [5]:
datascience()

Currently i am learning python

In [6]:
datascience()

Currently i am learning python

### create a function which shows 'Hello World'

In [8]:
def wishes():
    print("Hello World")

In [14]:
type(wishes())

Hello World

NoneType

In [12]:
def wish():
    return 'Hello World'

In [15]:
type(wish())

str

In [19]:
wishes() + 'welcome'

Hello World

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [18]:
wish() + ' welcome'

'Hello World welcome'

### Arguments/Parameters

In [26]:
def add(a = 5,b = 10):
    print(a+b)

In [27]:
add()

15

In [22]:
add(10,11)

21

In [23]:
add('Hello',' world')

Hello world

### Positional Arguments

In [28]:
def sub(x,y):
    print(x-y)

In [32]:
sub(10,5) #x = 10,y = 5

5

In [33]:
sub(5,10) #x = 5,y=10

-5

### Keyword Arguments

In [34]:
def div(a,b):
    print(a/b)

In [35]:
div(a = 2,b = 10)

0.2

In [36]:
div(b = 10,a = 2)

0.2

In [37]:
div(a = 10,b = 5)

2.0

In [38]:
div(b = 5,a = 1)

0.2

In [39]:
def div(a,b):
    print(a/b)

In [40]:
div(2,b = 4)

0.5

In [41]:
div(a = 2,4)  #first provide positional arguments then keyword arguments

SyntaxError: positional argument follows keyword argument (2363882660.py, line 1)

### Default Arguments

In [ ]:
Dear Rajesh..Thank you for registering

Dear customer...Thank you for registering

In [42]:
def zomato(name = 'Customer'):
    print(f"HEllo {name}  Thank you for ordering the food")

In [43]:
zomato('Ramesh')

HEllo Ramesh  Thank you for ordering the food

In [44]:
zomato()

HEllo Customer  Thank you for ordering the food

In [ ]:
#combination of positional,keyword,and default

In [53]:
def val(a,b,c,d = 40):
    print(a)
    print(b)
    print(c)
    print(d)

In [54]:
val(10,20,c = 30)

10
20
30
40

### Variable length arguments

In [65]:
def summation(*n):
    print(sum(n))

In [68]:
summation(1,2,3,4,5,6,7,8,9,10,1,2,322,4264,2626)

7270

### Types of Variables in Functions

In [76]:
def add(a,b):
    c = 10  #local variable
    print(a+b+c)

In [77]:
add(20,30)

60

In [78]:
c

NameError: name 'c' is not defined

In [96]:

def sub(l,m):
    global n
    n = 3
    print(l-m-n)

def add(l,m):
    print(l+m+n)

In [97]:
sub(2,1)

-2

In [98]:
add(1,2)

6

In [ ]:
#global Variable

* Outside the function
* using global keyword,we can create global variable inside the function

#local variable

*Inside the function

In [99]:
def add():
    a= 10
    b = 20
    print(a + b)

In [100]:
add()

30

In [101]:
a= 10
b = 20
print(a + b)

30

In [104]:
def sub(a,b):
    return a - b

In [108]:


sub(a = int(input("Enter the first number :: ")),b = int(input("Enter the second number :: ")))

Enter the first number :: 10
Enter the second number :: 4

6

In [ ]:
def add(x,y):
    return x+y

1. ask user to enter two numbers==x,y
2. ask user what is operation he wants to-  -+,-,*,/,**
3.if enters + --add
          add(x,y)    
    
      - -- sub
     * --> mul
    / --> Div
    ** - power

### Recursive functions

#### Factorial

In [3]:
def fact(n):
    if n == 0 or n ==1:
        return  1
    else:
        f = n * fact(n-1)
    return f

In [7]:
n = int(input("Enter the number to find factorial :: "))
fact(n)

Enter the number to find factorial :: 6

720

#### Fibonacci Sequence

In [13]:
def fib(n):
    if n == 0 or n== 1:
        return  n
    else:
        f = fib(n-1) + fib(n-2)
    return f

In [15]:
n = int(input("Enter the number of sequences :: "))

for i in range(n):
    print(fib(i))

Enter the number of sequences :: 10
0
1
1
2
3
5
8
13
21
34

### lambda function

In [16]:
def sub(x,y):
    return x - y

sub(20,15)

5

lambda args/params : expression

In [17]:
add = lambda a,b: a-b   #it returns the value

In [18]:
add(10,5)

5

In [19]:
mul  =    lambda x,y : x * y

In [20]:
mul(2,7)

14

Write the python code for square root of given number using lambda function

In [22]:
def root(n):
    return n ** 0.5

In [24]:
n = int(input("Enter the number :: "))
root(n)

Enter the number :: 6

2.449489742783178

In [25]:
 r =  lambda x :  x** 0.5

In [26]:
i = int(input("Enter the number :: "))
r(i)

Enter the number :: 100

10.0

### Miscellenous functions

filter()

In [27]:
list1 = [1,2,3,4,5,6,7,8,9,10]

def even(n):
    if n %2 == 0:
        return n

In [29]:
list(filter(even,list1))

[2, 4, 6, 8, 10]

["rk@gmail.com","Ram@gjd","rg@gmail.com","hello@gmail.com"]. by using filter function find the valid maild IDS

In [31]:
iterable = ["rk@gmail.com","Ram@gjd","rg@gmail.com","hello@gmail.com"]

def function(n):
    if n.endswith('@gmail.com'):
        return n

In [33]:
tuple(filter(function,iterable))

('rk@gmail.com', 'rg@gmail.com', 'hello@gmail.com')

#### map()

In [34]:
salary = [60000,70000,30000,53000,43000,24000,32000]

In [35]:
def bonus(n):
    return n +  5000

In [37]:
list(map(bonus,salary))

[65000, 75000, 35000, 58000, 48000, 29000, 37000]

In [41]:
names = ['imagin','creat','calcul','notat','preapar']

In [42]:
c = lambda n: n+ 'ation'

In [43]:
list(map(c,names))

['imagination', 'creatation', 'calculation', 'notatation', 'preaparation']

#### reduce()

In [44]:
list1 = [1,2,3,4,5,6,7,8,9]

def add(x,y):
    return x + y

In [46]:
from functools import reduce

In [47]:
reduce(add,list1)

45

In [48]:
def fact(x,y):
    return x * y

In [49]:
n = int(input("enter the number to finf the factorial :: "))
iterable = list(range(1,n+1))

enter the number to finf the factorial :: 5

In [50]:
reduce(fact,iterable)

120

### zip()

In [57]:
phones = ['Apple','Samsung','Vivo','Oppo']
origin = ["USA","South Korea","China",'China']
price = [60000,20000,15000]

In [58]:
for i in zip(phones,origin,price):
    print(i)

('Apple', 'USA', 60000)
('Samsung', 'South Korea', 20000)
('Vivo', 'China', 15000)

#### enumerate()

In [59]:
phones = ['Apple','Samsung','Vivo','Oppo']

In [63]:
for i in enumerate(phones,100):
    print(i)

(100, 'Apple')
(101, 'Samsung')
(102, 'Vivo')
(103, 'Oppo')

In [66]:
name = [1,2,3,4,1,2,3,4,5]

In [67]:
name

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [ ]:
frozenset -- immutable set

In [68]:
a = frozenset(name)

In [69]:
a.

frozenset({1, 2, 3, 4, 5})