In [3]:
a = 10
b = 2
while a >= b :
    print("Hello")
    b = b +   1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
a = int(input("Enter t a number:: "))
while a:
    print(a)
    
    a = a - 1

Enter t a number:: 10
10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [8]:
a = 1

while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

#print all even numbers from 20 to 40 using for loop and while loop

In [9]:
for i in range(20,41,2):
    print(i)

20
22
24
26
28
30
32
34
36
38
40

In [10]:
a = 20

while a <= 40:
    if a%2 == 0:
        print(a)
    a = a + 1

20
22
24
26
28
30
32
34
36
38
40

In [13]:
a = 20

while a <= 40:
    print(a)
    a = a + 2

20
22
24
26
28
30
32
34
36
38
40

In [ ]:
#print multiple of 3 from 0 to 30 using for loop and while loop

In [14]:
#using for loop

for i in range(0,31,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [15]:
for i in range(0,31):
    if i%3 == 0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30

In [16]:
a = 0
while a<= 30:
    if a%3 == 0:
        print(a)
    a = a +  1

0
3
6
9
12
15
18
21
24
27
30

In [19]:
a = 0
while a<= 30:
    print(a)
    a = a +  3

0
3
6
9
12
15
18
21
24
27
30

In [ ]:
print A-Z in reverse order using for loop and while loop

In [21]:
chr(90)




chr(65)

'A'

In [22]:
for i in range(90,64,-1):
    print(chr(i))

Z
Y
X
W
V
U
T
S
R
Q
P
O
N
M
L
K
J
I
H
G
F
E
D
C
B
A

In [23]:
a = 90
while a>= 65:
    print(chr(a))
    a = a - 1

Z
Y
X
W
V
U
T
S
R
Q
P
O
N
M
L
K
J
I
H
G
F
E
D
C
B
A

In [1]:
prices = [10000,12000,13000,15000,20000,22000,25000,30000,40000,45000,50000,550000]

In [8]:
for i in prices:
    
    if i > 30000:
        break
    else:
        print(i)

NameError: name 'prices' is not defined

print the values from 0 to 30 but whenever there is value 23..stop the excecution

In [4]:
a = 0

while a<= 30:
    if a == 23:
            break
    else:
        print(a)
    a = a+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

val = [1,4,6,7,10,"Hello","Hai","Bye"]

print only integer values whenever there is string data type stop iterating over  the loop

for loop and break statement.

In [7]:
val = [1,4,6,7,10,"Hello","Hai","Bye"]

for i in val:
    
    if type(i) != str:
        print(i)
    else:
        break

1
4
6
7
10

In [15]:
prices = [10000,12000,13000,45000,20000,22000,25000,30000,40000,45000,10000,50000,550000]

In [16]:
for i in prices:
    
    if i > 30000:
        continue
    else:
        print(i)

10000
12000
13000
20000
22000
25000
30000
10000

[1,1.5,2,5,"hello","Hai",5,8.9,123]

print only numbers..do the task using  continue

In [17]:
val = [1,1.5,2,5,"hello","Hai",5,8.9,123]

for i in val:
    if type(i) == str:
        continue
    else:
        print(i)

1
1.5
2
5
5
8.9
123

In [18]:
for i in val:
    if (type(i) == int)  or (type(i) == float)  :
        print(i)
    else:
        continue

1
1.5
2
5
5
8.9
123

In [21]:
for i in range(10):
    pass

In [23]:
def fun():
    pass

In [5]:
#Genearate the system number

import random
system = random.randint(0,10)
#choices
attempts = 3

while attempts > 0:
    
    #Ask the user for his choice
    user = int(input("Enter the number:: "))
    
    if system == user:
        
        print("Congratulations!..You are the winner.")
        break
        
    else:
        attempts = attempts - 1
        print(f"You have {attempts} attempts only")
        if attempts == 0:
            print("you are the looser")
            break

Enter the number:: 2
You have 2 attempts only
Enter the number:: 4
Congratulations!..You are the winner.

Ask the user until he gives valid email ID

In [12]:
a  =True
while a:
    mail = input("Enter your mail ID:: ")
    
    if mail.endswith('@gmail.com'):
        print('Valid Mail ID')
        a = False

Enter your mail ID:: qwbsqbs
Enter your mail ID:: qwwg
Enter your mail ID:: egjureof
Enter your mail ID:: rk@gmail.com
Valid Mail ID

In [ ]:
1. using data type values...0,0.0,'',False
2. using expression --- a  = a-1
3. break statement